/* BreakPoints 
@media (max-width: 575.98px) { ... }
@media (max-width: 767.98px) { ... }
@media (max-width: 991.98px) { ... }
@media (max-width: 1199.98px){ ... }

@media (min-width: 576px) { ... }
@media (min-width: 768px) { ... }
@media (min-width: 992px) { ... }
@media (min-width: 1200px) { ... }
*/

@font-face {
  font-family: 'Franklin Gothic';
  src: local('Franklin Gothic'), local('Franklin Gothic'), url('../font/FRABK.woff') format('woff');
  font-display: swap;
}

// @font-face {
//   font-family: 'Avenir';
//   font-weight: 800;
//   src: local('Avenir Bold'), local('Avenir Bold'), url('../font/avenir/bold.woff') format('woff');
//   font-display: swap;
// }


@import "components/normalize";
@import "components/variables";
@import "components/bootstrap";
@import "components/aos";

html,
body {
  scroll-behavior: smooth;
  font-size: 1rem;
  /* overflow-x: hidden; */
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
// .check {
//   list-style-image: url(../img/icon/check.png);
// }
a:focus, button:focus, div:focus, input:focus, form:focus {
  outline: none;
}